_build/
build/
.idea/
/external
/bazel-*

/compile_commands.json
# For clangd, required to be here by hedronvision/bazel-compile-commands-extractor.
# IDE files in general should go in .git/info/exclude.
/.cache/
